@model App.Pdf.Templates.Models.PartGroupPageViewModel
@{
    Layout = "Shared/_Layout.cshtml";
}

<div style="width: calc(100% - 30px); background-color: darkcyan; padding: 15px; color: #fff;">
    <div style="float: left;">
        @Model.PartGroup.Name section
    </div>

    @if (Model.PartGroup.Pages.Count > 1)
    {
        <div style="float: right;">Part @Model.SectionPartNumber</div>
    }
    
    <div style="clear: both;"></div>
</div>

<partial name="Shared/_Image" model="Model.ImageFile"/>

<div style="width: 100%;">
    @foreach (var part in Model.Parts)
    {
        <div style="width: 80%; border: 1px solid darkcyan; background-color: darkcyan; color: #fff; margin-top: 10px; margin: 10px auto 0;">
            <div style="float: left; width: 100px; padding-left: 10px;">
                @part.ImagePartNumber
            </div>
            <div style="float: left;">
                @(part.Name)&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;@(part.Description) <br/>
                @part.PartNumber
            </div>
            <div style="clear: both;"></div>
        </div>
    }
</div>